/*
* Sarah Woolley
*DUe Date
* Project name and Description
*/  

/* The Universal Sector*/

*{ 

}

/* Body attributes here*/

body{ 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 155%;
    text-align: center;
    
    
    
    
}

header {background-color: yellow
    font-family: Arial, Helvetica, sans-serif;
    font-size: 155%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline overline;
}
img {float:none}
Main {background-color: greenyellow}
footer {background-color: blue}